.DS_Store
3dProjections of Decon-correct.tif
5.h5
Decon-correct-cropped.tif
Decon-correct.tif
Deconvolved.h5
MAX_Decon-1.avi
beads.h5
original PSF of viewsetup 0b.tif
original PSF of viewsetup 1b.tif
out-1.avi
out-1arrow.avi
