.DS_Store

# first embryo dataset
2017-05-01-experiment-klim/converter/target/
2017-05-01-experiment-klim/converter/.settings/
2017-05-01-experiment-klim/converter/.classpath
2017-05-01-experiment-klim/converter/.classpath
2017-05-01-experiment-klim/converter/.project
2017-05-01-experiment-klim/movie_lineage
2017-05-01-experiment-klim/3dProjections of Decon-correct.tif
2017-05-01-experiment-klim/5.h5
2017-05-01-experiment-klim/Decon-correct-cropped.tif
2017-05-01-experiment-klim/Decon-correct.tif
2017-05-01-experiment-klim/Deconvolved.h5
2017-05-01-experiment-klim/MAX_Decon-1.avi
2017-05-01-experiment-klim/beads.h5
2017-05-01-experiment-klim/original PSF of viewsetup 0b.tif
2017-05-01-experiment-klim/original PSF of viewsetup 1b.tif
2017-05-01-experiment-klim/out-1.avi
2017-05-01-experiment-klim/out-1arrow.avi

# second embryo dataset
2018-01-15-experiment-lennon/dataset.h5

